'scopeName': 'text.html.modx'
'name': 'HTML (MODX)'
'fileTypes': [
  'html'
  'tpl'
]
'patterns': [
  {
    "include": "text.html.basic"
  },
  {
    'match': '\\[\\['
    'name': 'punctuation.definition.block.modx'
  },
  {
    'match': '\\]\\]'
    'name': 'punctuation.definition.block.modx'
  }
]
