'scopeName': 'text.html.modx'
'name': 'HTML (MODX)'
'fileTypes': [
  'html'
  'tpl'
]
'patterns': [
  {
    "include": "text.html.basic"
  },
  {
    'begin': '(\\[\\[)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.block.begin.modx'
    'end': '(\\]\\])'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.block.end.modx'
    'name': 'meta.tag.template.modx'
    'patterns': [
      {
        'match': '\\!|\\?'
        'name': 'punctuation.definition.block.uncached.modx'
      }
    ]
  }
]
