'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'MODX Revolution'
    'submenu': [
      { 'label': 'Generate MODX Component', 'command': 'modx-component-generator:generate-component' }
    ]
  ]
]
