'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'MODX Revolution'
    'submenu': [
      { 'label': 'Scaffold Component', 'command': 'modx-generator:scaffold-component' },
      { 'label': 'Scaffold Theme', 'command': 'modx-generator:scaffold-theme' }
    ]
  ]
]
