'menu': [
    'label': 'Packages'
    'submenu': [
        'label': 'MODX Revolution'
        'submenu': [
            { 'label': 'Scaffold Transport Package', 'command': 'modx-generator:scaffold-transport-package' },
            { 'label': 'Scaffold Theme', 'command': 'modx-generator:scaffold-theme' }
        ]
    ]
]
