'.text.html.basic, .text.html.modx':
    'editor':
        'completions': [
            'alias'
            'cacheable'
            'class_key'
            'content'
            'content_type'
            'createdon'
            'createdby'
            'deleted'
            'deletedby'
            'deletedon'
            'description'
            'editedon'
            'editedby'
            'hidemenu'
            'id'
            'introtext'
            'isfolder'
            'link_attributes'
            'longtitle'
            'menuindex'
            'menutitle'
            'pagetitle'
            'parent'
            'pub_date'
            'published'
            'publishedby'
            'publishedon'
            'searchable'
            'template'
            'unpub_date'
            'uri_override'
            'uri'
        ]
